#slide1{
    padding: 8px;
    background-image: url(images/banner1.png);
    background-repeat: no-repeat;
   
}
#slide2{
    padding: 8px;
    background-image: url(images/banner2.png);
    background-repeat: no-repeat;
}
#slide3{
    padding: 8px;
    background-image: url(images/banner3.png);
    background-repeat: no-repeat;
}
#slide4{
    padding: 8px;
    background-image: url(images/banner4.png);
    background-repeat: no-repeat;
}
#team-member{
  background-image: url(images/team.png);  
  border-radius: 8px;
    
 
  /* fill: #1212121a; */
}
hr { 
    display: block;
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
   
  }

  /* Pop  */
  details1 {
    font-size: 1em;
    padding: 10px;
   
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }