#slide1{
    padding: 8px;
    background-image: url(images/banner1.png);
    background-repeat: no-repeat;
   
}
#slide2{
    padding: 8px;
    background-image: url(images/banner2.png);
    background-repeat: no-repeat;
}
#slide3{
    padding: 8px;
    background-image: url(images/banner3.png);
    background-repeat: no-repeat;
}
#slide4{
    padding: 8px;
    background-image: url(images/banner4.png);
    background-repeat: no-repeat;
}
#team-member{
  background-image: url(images/team.png);  
  border-radius: 8px;
    
 
  /* fill: #1212121a; */
}
hr { 
    display: block;
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
   
  }